* {
    scroll-behavior: smooth;
}
.h1, .h2, .h3, .h4, .h5, .h6, .para, .button, .span, .navbar__item {
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
}
.container {
    padding: 0 3.5rem; 
}
.container__row {
    display: flex; 
    align-items: center; 
    height: 90%; 
}
.container__row--center {
    display: flex; 
    align-items: center; 
    justify-content: center;    
}
.container__col--three-lg {
    flex: 0 0 25%;
    max-width: 25%;
}
.container__col--four-lg {
    flex: 0 0 33%;
    max-width: 33%;
}
.container__col--five-lg {
    flex: 0 0 40%;
    max-width: 40%;
}
.container__col--six-lg {
    flex: 0 0 50%;
    max-width: 50%;
}
.container__col--seven-lg {
    flex: 0 0 60%;
    max-width: 60%;
}
.container__col--ten-lg {
    flex: 0 0 80%;
    max-width: 80%;    
}
.container__col--twelve-lg {
    flex: 0 0 100%;
    max-width: 100%;    
}
.container__overlay {
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-image: linear-gradient(to left, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    z-index: -1; 
}
.container__top-header {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 2rem; 
    position: relative;
    z-index: 1;
}
.container__header {
    font-size: 4.5rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 0 4rem 0; 
}
.color--yellow {
    color: #f5cb5a; 
}
.highlight-text--red {
    color: #a10f2b;
    font-weight: 400;
    border-bottom: 1px solid #a10f2b;
}
.highlight-bg-yellow {
    background-color: rgba(251,238,202,0.8); 
    padding: 0 2rem; 
}
.background--black {
    background-color: #111;
}
.button {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.button__light {
    font-weight: 400; 
    border: 2px solid #f5cb5a;
    color: #f5cb5a; 
    padding: 1rem 2.5rem;
    border-radius: 0; 
}
.button__dark {
    font-weight: 400; 
    border: 2px solid #a10f2b;
    color: #a10f2b;
    padding: 1rem 2.5rem;
    border-radius: 0; 
}
.button__icon {
    margin-left: 0.5rem;
}
.button__dark--contain {
    position: relative;
    z-index: 3; 
    text-align: center; 
    margin-top: 4.5rem;
}
.para {
    color: #111; 
    font-size: 1.3rem;
    font-weight: 200; 
}
.image {
    max-width: 100%;
}
.display--none {
    display: none;
}
/* promo */ 
.promo {
    height: 100vh; 
    background-image: url(../images/promo-image-two.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    z-index: 1; 
}
.promo .promo__header {
    font-size: 6rem; 
    text-transform: uppercase;
    line-height: 0.8;
    font-weight: 500; 
    margin-bottom: 1.5rem; 
    margin-top: 4rem;
}
.promo .promo-header--white {
    color: white; 
}
.promo .promo__para {
    color: rgba(255,255,255,0.5);
    font-size: 2rem; 
    font-weight: 200; 
    margin-bottom: 3.5rem; 
}
.promo .promo__highlight-text {
    border-bottom: 2px solid #f5cb5a;
    color: #f5cb5a; 
}
/* navbar */ 
.navbar {
    position: fixed;
    z-index: 10; 
    width: 100%; 
}
.navbar__container {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    border-bottom: 1px solid rgba(245,203,90,0.2);
    position: relative;
    z-index: 10; 
}
.navbar__list {
    list-style-type: none; 
    display: flex; 
    margin: 0; 
}
.navbar__list .navbar__item a {
    text-decoration: none;
    color: white; 
    margin: 0 2rem;
}
.navbar__list .navbar__item--active a {
    color: #f5cb5a;
}
/* icons */ 
.icons {
    padding: 0 3rem 0 3rem; 
    border-bottom: 1px solid #eee; 
}
.icons .container__row--center .container__col--four-lg {
    margin-left: 1rem;
    padding: 3rem 0;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.icons .icons__one {
    border-right: 1px solid #eee
}
.icons .icons__two {
    border-right: 1px solid #eee
}
.icons .icons__content {
    padding-left: 1.5rem; 
}
.icons .icons__top-header {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500; 
}
.icons .icons__header {
    font-size: 1rem; 
    font-weight: 300; 
    color: #777; 
}
.icons .icons__icon {
    color: #a10f2b;
}
/* about us */ 
.about {
    padding: 8rem 0; 
}
.about .container {
    padding-bottom: 5rem;
}
.about .about__featured-section {
    position: relative;
    z-index: 2;
}
.about .about__title {
    padding: 6rem 0; 
    margin-top: 1rem;
}
.about .container__top-header, .about .container__header {
    text-align: center; 
}
.about .about__para {
    line-height: 2.4; 
}
.about .about__para--highlight {
    background-color: white;
    padding: 4.5rem 3.5rem !important;
}
.about .about__para, .about {
    padding: 0 4.5rem 0 0; 
}
.about .about__para--alt {
    padding: 0 0 0 4.5rem; 
}
.about .container__col--five-lg {
    position: relative;
    z-index: -1;
}
.about .about__image--border, .storage-info .storage__image--border-alt {
    border: 2px solid #a10f2b;
    position: absolute;
    top: -6%;
    left: 4%;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.about .about__image--border-alt, .storage-info .storage__image--border {
    border: 2px solid #a10f2b;
    position: absolute;
    top: -6%;
    left: -5%;
    height: 100%;
    width: 100%;
    z-index: -1;
}
/* gallery */ 
.gallery {
    background: linear-gradient(to top, rgb(245,203,90) 0%, rgba(245,203,90,0.9) 100%), url(../images/promo-image-two.jpg);
    padding-bottom: 6rem;
    margin-top: 4.5rem;
    position: relative;
    z-index: 1;
    top: -300px;
}
.gallery .gallery__arrow {
    color: #a10f2b;
}
.gallery .container__row--center {
    flex-wrap: wrap; 
}
.gallery .container__col--four-lg {
    padding-bottom: 1.2rem;
    text-align:center;
}
.gallery .gallery__title {
    text-align: center; 
    padding: 18rem 0 6rem 0;
}
.gallery .image {
    width: 95%; 
}
/* header - inner pages */ 
.header {
    height: 70vh; 
    background-image: url(../images/promo-image-two.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    z-index: 1; 
}
.header__overlay {
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-image: linear-gradient(to left, rgba(0,0,0,0.85), rgba(0,0,0,0.8));
    z-index: -1; 
}
.header .header__title {
    color: white; 
    text-transform: uppercase;
    font-weight: 400; 
    font-size: 5rem;
    line-height: 0.8; 
    margin: 4rem 0 2rem 0;
}
.header .header__para {
    color: rgba(255,255,255,0.6); 
    margin-bottom: 3rem;
}
/* storage info */ 
.storage-info {
    padding: 10rem 5rem 3rem 5rem;
}
.storage-info .container__row {
    padding-bottom: 5rem;
}
.storage-info .container__col--five-lg {
    position: relative;
}
.storage-info  .storage-info__title{
    padding-left: 5rem; 
}
.storage-info .storage-info__title--alt {
    padding-right: 5rem;
}
.storage-info .para {
    line-height: 2.4; 
}
/* storage units */ 
.storage-units {
    padding-top: 5rem;
    padding-bottom: 8rem;
    margin-bottom: 8rem;
    background: linear-gradient(to top, rgb(245,203,90) 0%, rgba(245,203,90,0.9) 100%), url(../images/promo-image-two.jpg);
}
.storage-units .storage-units__title {
    text-align: center; 
    padding: 3rem 0;
}
.storage-units .container__row--center {
    flex-wrap: wrap; 
}
.storage-units .storage-units__square {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 90%; 
    height: 100%;
    border: 2px solid #a10f2b;
    margin-bottom: 2rem;
}
.storage-units .storage-units__square div { 
    padding: 3rem 2.5rem;
}
.storage-units .storage-units__square .storage-units__header { 
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}
/* storage tips */ 
.storage-tips {
    padding-top: 5rem; 
    padding-bottom: 8rem; 
}
.storage-tips .container__row--center {
    flex-wrap: wrap;
}
.storage-tips .storage-tips__content {
    padding: 3rem;
}
.storage-tips .storage-tips__title {
    text-align: center;
    padding-bottom: 3rem;
}
.storage-tips .storage-tips__header {
    color: #a10f2b;
    font-size: 1.5rem;
}
.storage-tips .storage-tips__alt {
    background-color: rgba(251,238,202,0.3);
}
.storage-tips .para {
    line-height: 2.4;
}
/* contact */ 
.contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(251,238,202,0.3);
    margin-bottom: 8rem;
}
.contact .contact__title {
    font-weight: 500; 
    text-transform: uppercase;
    letter-spacing: 0.1rem;  
}
.contact .contact__info {
    padding: 1rem 0;
}
.contact .contact__label {
    font-weight: 500;
    color: #a10f2b;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.contact .contact__input , .contact .contact__textarea {
    display: block; 
}
.contact .contact__input {
    margin-bottom: 1.5rem; 
    padding: 1rem 3rem;
    width: 85%;
    border: none; 
    border-bottom: 2px solid #a10f2b;
    background-color: rgb(251,238,202);
}
.contact .contact__textarea {
    width: 100%;
    height: 200px; 
    border: 2px solid #a10f2b;
    background-color: rgb(251,238,202);
    margin-top: 1rem;
}
.contact .button {
    margin-top: 2rem;
    cursor: pointer;
}
/* footer */ 
.home .footer {
    position: relative;
    top: -100px; 
}
.footer {
    padding: 0 3rem; 
}
.footer .container__row--center {
    align-items: flex-start; 
}
.footer .container__col--four-lg {
    text-align: center; 
}
.footer .footer__about--info {
    color: #777;
    font-size: 1.1rem;
    line-height: 2.4; 
}
.footer .footer__heading {
    text-transform: uppercase;
    font-weight: 500; 
    margin-bottom: 1rem; 
    font-size: 1.2rem;
}
.footer .footer__link {
    color: #777; 
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 2.4;
}
.footer .footer__contact--info {
    margin-bottom: 1.5rem; 
}
.footer .footer__heading--inner {
    color: #111;
    font-weight: 300; 
    font-size: 1.1rem;
}
.footer .footer__contact--text {
    color: #777; 
    font-weight: 200; 
    font-size: 1rem;
    line-height: 2.4;
}
.footer .footer__copyright--info {
    border-top: 1px solid #eee; 
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: 5rem;
    text-align: center;
}
.footer .footer__copyright--text {
    font-size: 1rem;
    color: #777; 
}
/* media queries */
@media only screen and (max-width: 1024px) { 
    .promo .container__row .container__col--seven-lg {
        flex: 0 0 80%;
        max-width: 80%;
    }
    .about {
        padding: 0 2rem; 
    }
    .header .header__title {
        font-size: 3.5rem;
    }
}
@media only screen and (min-width: 991px) {
    .navbar .navbar__mobile {
        display: none; 
    }
}
@media only screen and (max-width: 991px) {
    .container__col--four-lg, .container__col--five-lg, .container__col--six-lg, .container__col--seven-lg {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container__col--six-md {
        flex: 0 0 50%;
        max-width: 50%;        
    }
    .container__row--center, .container__row {
        flex-wrap: wrap; 
    }
    .container__header, .about__para, .about__para--alt {
        padding: 0 !important; 
    }
    .icons__one, .icons__two {
        border-right: none !important; 
        border-bottom: 1px solid #eee;
    }
    .about {
        text-align: center;
        padding: 0 0.5rem 0 0.5rem; 
    }
    .about .about__title {
        padding: 6rem 0 3rem 0; 
    }
    .about__image--border, .about__image--border-alt {
        display: none !important;
    }
    .about .container__col--five-lg {
        position: static;
    }
    .about .container__col--seven-lg {
        margin-bottom: 4rem; 
    }
    .about .about__para--highlight {
        padding: 0 !important;
    }
    .order__two--mobile {
        order: 2; 
    }
    .gallery .gallery__title {
        padding-bottom: 5rem; 
    }
    .navbar__desktop {
        display: none;
    }
    .navbar__mobile--button {
        position: relative;
        z-index: 1;
    }
    .navbar__mobile--contain {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #111;
        padding: 3rem 2rem;
        opacity: 1; 
        animation: increaseOpac 0.3s ease-in-out;
    }
    @keyframes increaseOpac {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }
    .navbar__mobile .navbar__list {
        display: block; 
        line-height: 3;
    }
    .navbar__icon {
        color: white; 
        font-size: 1.6rem;
    }
    .storage-info .storage-info__title, .storage-info .storage-info__title--alt {
        padding: 3.5rem 0 0 0;
    }
    .storage-tips .storage-tips__alt {
        background-color: white;
    }
    .storage-tips .storage-tips__content {
        border-bottom: 1px solid #eee; 
    }
    .home .footer {
        top: -200px; 
    }
    .footer {
        padding: 0 3rem; 
    }
    .footer .container__col--four-lg {
        margin-top: 5rem; 
    }
}
@media only screen and (max-width: 600px) {
    .container {
        padding: 0 1.5rem;
    }
    .container__col--six-md {
        flex: 0 0 100%;
        max-width: 100%;        
    }
    .promo .promo__header {
        font-size: 3.5rem;
    }
    .promo .promo__para {
        font-size: 1.5rem;
    }
    .container__top-header {
        font-size: 1.5rem;
    }
    .container__header {
        font-size: 3rem;
    }
    .highlight-bg-yellow {
        padding: 0 1rem; 
    }
    .icons {
        padding: 0 1.5rem; 
    }
    .about {
        padding: 0; 
    }
    .about .about__para, .about {
        padding-right: 0 !important;
    }
    .header .header__title {
        font-size: 3.2rem;
    }
    .storage-info {
        padding-top: 5rem;
    }
    .storage-units {
        padding-bottom: 5rem;
        padding-top: 5rem;
        margin-bottom: 5rem;
    }
    .storage-units .storage-units__square {
        width: 98%; 
    }
    .storage__image--border, .storage__image--border-alt {
        display: none; 
    }
    .storage-tips .storage-tips__content {
        padding: 3rem 0.5rem;
    }
    .storage-tips .storage-tips__title {
        padding-top: 4rem;
    }
    .footer .container__col--four-lg {
        text-align: left; 
    }
    .footer .footer__copyright--info {
        text-align: left; 
        line-height: 2; 
    }
}
@media only screen and (max-width: 414px) {
    .para {
        font-size: 1.1rem;
    }
    .promo .promo__para {
        font-size: 1.4rem;
    }
    .icons .container__row--center .container__col--four-lg div {
        padding: 0 1rem;
    }
    .about .container__top-header {
        font-size: 1.3rem;
    }
    .about .container__header, .container__header {
        font-size: 2.3rem;
    }
    .header .header__title {
        font-size: 1.8rem;
    }
    .footer {
        padding: 2rem 1.5rem 2rem 1.5rem;
    }
}
@media only screen and (max-width: 414px) { 
    .para {
        font-size: 1rem; 
    }
    .about .container__header, .container__header {
        font-size: 2rem;
    }
    .promo .promo__header {
        font-size: 2.45rem;
    }
    .promo .promo__para {
        font-size: 1.2rem;
    }
    .icons {
        padding: 0 1rem;
    }
    .about .about__title {
        padding: 6rem 0 2rem 0;
    }
    .gallery {
        top: 0; 
    }
    .gallery .gallery__title {
        padding: 6rem 0 4rem 0;
    }
    .gallery .gallery__title .container__header {
        margin-bottom: 2rem;
    }
    .home .footer {
        top: 0; 
    }
    .footer {
        padding: 2rem 1rem 2rem 1rem;
    }
    .footer .container__col--four-lg {
        margin-top: 4rem;
    }
}
@media only screen and (max-width: 320px) { 
    .navbar__container {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    .header .header__title {
        margin: 4rem 0 1rem 0;
    }
    .container__top-header {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 823px) and (orientation: landscape) {
    .promo {
        height: 110vh; 
    }
    .promo .promo__header {
        font-size: 2.5rem;
    }
    .promo .promo__para {
        font-size: 1.4rem;
    }
    .container__top-header {
        font-size: 1.5rem;
    }
    .container__header {
        font-size: 3rem;
    }
    .gallery .container__header {
        margin-bottom: 1.5rem; 
    }
    .header {
        height: 100vh;
    }
    .header .container__row {
        height: 100%; 
    }
    .header .header__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .storage-tips {
        padding: 5rem 2rem;
    }
    .storage-tips .storage-tips__content {
        padding: 3rem 1rem;
    }
}
@media only screen and (max-width: 600px) and (orientation: landscape) {
    .navbar__container {
        padding-top: 1.5rem !important; 
        padding-bottom: 1.5rem !important;  
    }
    .promo .promo__header {
        font-size: 2rem;
    }  
    .promo .promo__para {
        font-size: 1.1rem;
    }  
    .header .header__title {
        font-size: 1.5rem;
    }
    .header .header__para {
        font-size: 1rem;
    }
}